.main__wrapper{
    min-height:700px;
    background-color: blanchedalmond;
}

.main__car-list{
    display:flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-between;
}
.main__car-item-detail-link{
    display:flex;
    flex-direction: column;
    margin:20px;
    height:500px;
    width:300px;
    align-items: center;
    justify-content: space-around;
    background-color:white;
    border-radius: 40px;
    color:black;
}
.main__car-item-img{
    max-width:250px;
    max-height:350px;
    & img{
        width:100%;
        height:100%;
    }
}

