{% block css %}

.main__car-item-additional-img{
    flex: 0 1 92px;
    border-radius:5px;
    background:white;
    cursor:pointer;
}

.main__car-item-information{
    display:flex;
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.main__car-item-detailpage-backgroundbox{
    display:flex;
    margin:20px;
    height:500px;
    width:auto;
    justify-content: space-around;
    background-color:white;
    border-radius: 40px;
    color:black;
}
.main__car-item-additional-img{
    display:flex;
    flex-direction:column;
    max-width:150px;
    max-height:150px;
    & img{
        width:100%;
        height:100%;
}
.main__car-item-detailpage-annotation-box{
    margin:20px;
    height:auto;
    width:450px;
    justify-content: space-around;
    background-color:white;
    border-radius: 140px;
    color:black;
}
.main__car-item-detailpage-description{
    margin:20px;
    height:450px;
    width:450px;
    bottom:20px;
    align:right;
    background-color:white;
    border-radius: 140px;
    color:black;
}
}
{% endblock css %}