{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/add_car.css'%}">
{% endblock css%}

{% block main %}
<form action="" method="POST" >
    {% csrf_token %}
    <select name="brand">
        {% for brand in brands%}
        <option value="{{brand.title}}">{{brand.title}}</option>
        {% endfor %}
    </select>
    <input type="text" name="model" placeholder="Модель" > <br>
    <input type="text" name="color" placeholder="Цвет" > <br>
    <input type="text" name="annotation" placeholder="Краткое описание" > <br>
    <input type="text" name="description" placeholder="Описание" > <br>
    <input type="number" name="price"placeholder="Цена"><br>
    <input type="file" name='image' placeholder="Фотография"> <br>
    <button>Сохранить</button>
</form>
{% endblock main %}