{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/car_detail.css'%}">
{% endblock css%}


{% block main%}
 <div class="main__car-item-detailpage-backgroundbox">

     <div class="main__car-item-detailpage-mainimg">
         <img src="{{ cars.image.url }}" alt="">
    </div>
     <div class="main__car-item-detailpage-header">
        {{cars.brand}} {{cars.model}}
     </div>
    <div class="main__car-item-additional-img">
        {% for image in picture%}
            <img src="{{image.picture.url}}" alt="">
        {% endfor %}
    </div>
    <div class="main__car-item-detailpage-rightpart">
        <div class="main__car-item-detailpage-annotation">
             {{cars.annotation}}
         </div>
        <div class="main__car-item-detailpage-color">
            Цвет:{{cars.color}}
        </div>
        <div class="main__car-item-detailpage-price">
            Цена:{{cars.price}}
        </div>
    </div>
     <div class="main__car-item-detailpage-description-box">
         <div class="main__car-item-detailpage-description">
             {{cars.description}}
         </div>
     </div>

 </div>
{% endblock main%}
