<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/null.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    {% block css %}
    {% endblock css %}
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header__wrapper">
                <a class="header__logo" href="{% url 'main' %}">
                    <img src="{% static 'img/logo.png' %}" alt="">
                </a>
                <p class="header__slogan">
                    Найди автомобиль своей мечты!!!
                </p>
                <ul class="header__phone-list">
                    <li class="header__phone-item">
                        <div class="header__phone-item-img">
                            <img src="{% static 'img/telegram.png'%}" alt="">
                        </div>
                        <p class="header__phone-item-tel">
                            +375 29 698 85 98
                        </p>
                    </li>
                    <li class="header__phone-item">
                        <div class="header__phone-item-img">
                            <img src="{% static 'img/viber.png'%}" alt="">
                        </div>
                        <p class="header__phone-item-tel">
                            +375 29 698 85 98
                        </p>
                    </li>
                    <li class="header__phone-item">
                        <div class="header__phone-item-img">
                            <img src="{% static 'img/whatsup.png'%}" alt="">
                        </div>
                        <p class="header__phone-item-tel">
                            +375 29 698 85 98
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__second">
        <div class="container">
            <div class="header__second__wrapper">
                <a href="{% url 'add_car' %}" class="add__car-link navigation-item">
                    Добавить автомобиль
                </a>
                <a href="{% url 'catalog_page' %}" class="catalog-link navigation-item">
                    Каталог
                </a>
                <a href="{% url 'shop_list' %}" class="shops-link navigation-item">
                    Магазины
                </a>
                {% block navigator %}
                {% endblock navigator %}
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="main__wrapper main_detail">
                {% block main %}
                <ul class="main__car-list">
                    {% for card in cards %}
                    <li class="main__car-item">
                        <a href="{% url 'car_detail' card.id %}" class="main__car-item-detail-link">
                            <div class="main__car-item-img">
                                <img src="{{ card.image.url }}" alt="">
                            </div>
                            <p class="main__car-item-information">
                                {{card.brand}} {{card.model}}
                            </p>
                            {% for color in card.color.all %}
                            <p class="main__car-item-color">{{color}}</p>
                            {% endfor %}
                            {% for shop in card.shop.all %}
                            <p class="main__car-item-shop">{{shop}}</p>
                            {% endfor %}
                            <p class="main__car-item-price">
                                {{card.price}}
                            </p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endblock main %}
            </div>
        </div>
    </div>
</body>
</html>